<!DOCTYPE html>
<html th:replace="layout/mainLayout :: layout(~{::main})" xmlns:th="http://www.thymeleaf.org">
<body>
<main role="main">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h3 th:text="#{welcome.head}"></h3>
                <br>
                <p class="lead" th:text="#{welcome.body}"></p>
            </div>
            <div class="col-md-6">
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=1'}" class="header"><img src="../static/images/categories/dairy.jpg" class="img-fluid" th:src="@{/images/categories/dairy.jpg}" alt="images"></a>
                    </div>
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=2'}"><img src="../static/images/categories/meats.jpg" th:src="@{/images/categories/meats.jpg}" class="img-fluid" alt="images"></a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=3'}"><img src="../static/images/categories/bakery.jpg" class="img-fluid" th:src="@{/images/categories/bakery.jpg}" alt="images"></a>
                    </div>
                    <div class="col-md-6">
                        <a th:href="@{'/products?cid=4'}"><img src="../static/images/categories/fruitveg.jpg" class="img-fluid" th:src="@{/images/categories/fruitveg.jpg}" alt="images"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>